{% extends "base.html" %}
{% block csss %}
{% assets "css_board" %}
<link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}
{% block content %}
<div class="container" id="container">
  {% include "_nav.html" %}
  <div class="well">
    <form role="form" id="form_draw" method="post" action="{{ url_for('create') }}" onsubmit="return validadeCreateDraw();">
      <div class="input-group spacer">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Pick A Friend <span class="caret"></span></button>
          <ul class="dropdown-menu">
            {% for friend in friends %}
            <li onclick="selectFriend('{{ friend.id }}')">
              <div class="media">
                <div class="pull-left">
                  <img class="media-object" src="{{ friend.picture.data.url }}">
                </div>
                <div class="media-body">
                  <h4 class="media-heading" id="friend_name_{{ friend.id  }}">{{ friend.name }}</h4>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div><!-- /btn-group -->
        <input type="text" class="form-control" id="friend_input" disabled>
      </div><!-- /input-group -->
      <input type="hidden" name="user_id" id="user_id" value="{{ user_id }}">
      <input type="hidden" name="friend_id" id="friend_id">
      <div class="form-group">
        <label>Select a Drawing:</label>
        {% for drawing in drawings %}
        <label class="radio">
          <input type="radio" name="drawing_id" id="drawing_{{ drawing.id }}" value="{{ drawing.id }}">
          {{ drawing.name }}
        </label>
        {% endfor %}
      </div>
      <div class="center spacer">
        <div class="board" id="board"></div>
      </div>
      <input type="hidden" name="data" id="data">
      <div class="control">
        <a class="btn btn-default" href="{{ url_for('match_list') }}">Back</a>
        <button type="submit" class="btn btn-primary">Send</button>
      </div>
    </form>
  </div>
</div><!-- /.container -->
{% endblock %}
{% block scripts %}
{% assets "js_board" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
