{% extends "base.html" %}
{% block content %}
<div class="container">
  {% include "_nav.html" %}
  <div class="well">
    <div class="row">
      <div class="col-xs-12">
        <h1>Hit</h1>
      </div>
    </div>
    <div class="row spacer">
      <div class="col-xs-12">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="{{ sender.picture }}">
          </a>
          <div class="media-body">
            <h4 class="media-heading">{{ sender.name }}</h4>
            <span class="label label-info">Sender</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row spacer">
      <div class="col-xs-12 center">
        <img class="board" src="{{ data }}"/>
      </div>
    </div>
    <div class="row spacer">
      <div class="col-xs-4">
      </div>
      <div class="col-xs-4">
        <div class="row">
          <div class="col-xs-12 center well">
          {% for letter in word %}
            <span class="label label-default label-big" id="letter_{{ loop.index }}">_</span>
          {% endfor %}
            <br/><br/>
            <kbd id="errors"> </kbd>
          </div>
        </div>
        <input type="hidden" id="word" value="{{ word }}">
      </div>
      <div class="col-xs-4">
      </div>
    </div>
  </div>
</div><!-- /.container -->

<div class="modal fade" id="over_win">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Congratulations!</h4>
      </div>
      <div class="modal-body">
        <h3>You hit!</h3>
        <p>
          Now, go play some more!
        </p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default" href="{{ url_for('save', id=id, result=1) }}">Play more!</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="over_lose">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Sorry!</h4>
      </div>
      <div class="modal-body">
        <h3>You lose!</h3>
        <p>
          More luck next time.
        </p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default" href="{{ url_for('save', id=id, result=2) }}">Play more!</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
